<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="pubs" connectionString="Data Source=127.0.0.1,1433;
			 Database=northwind;
			 User Id=zixsa;Password=0270453;
			 MultipleActiveResultSets=true;
			 TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>