<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

	<connectionStrings>
		<add name="MSSQLConnectStrings" connectionString="Data Source=127.0.0.1,1433;Database=pubs;User Id=zixsa;Password=0270453;
			 MultipleActiveResultSets=true;TrustServerCertificate=True;" providerName="System.Data.SqlClient"></add>		
	</connectionStrings>
</configuration>
