<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlCmd_Ado.NET.Properties.Settings.northwind" connectionString="Data Source=DESKTOP-CH3GMM4;Initial Catalog=northwind;User ID=zixsa;Password=0270453;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>