@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alone</title>
</head>
<body>
    <h1>我的 Layout 是設定成 null 的</h1>
</body>
</html>