<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab0519_login.Properties.Settings.LabAccount" connectionString="Data Source=DESKTOP-BO1NJFV;Initial Catalog=Lab;User ID=zixsa;Password=0270453"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>